POSTGRES_DB=halteradar
POSTGRES_USER=halteradar
POSTGRES_PASSWORD=mystrongpassword
GTFS_URL=https://gtfs.ovapi.nl/nl/gtfs-nl.zip
BISON_MQ=tcp://pubsub.besteffort.ndovloket.nl:7658
SOURCE_REPO=https://github.com/friedelschoen/halteradar
